<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav>
        {% if user.is_authenticated %}
            {% for id in dealer_id %}
            <a class="btn btn-link" href="{% url 'djangoapp:add_review' id%}">Add Review</a>
            {% endfor %}
            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About</a>
        <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a> 
   
    <form action="{% url 'djangoapp:login' %}" method="POST">
     
        <input type="text" name="username">
        <input type="text" name="password">
        {% csrf_token %}
        <input type="submit" name="Login"> 
        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a> 

    </form>
    {% endif %}
</nav>
    <!-- Add reviews as cards -->
    {% for review in reviews %}
    {% csrf_token %}
    <div class="card">
       
        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png"
        width="40" 
     height="50">
        <div class="card-body">
            <p class="card-title">{{review.car_model}}</p>
            <p class="card-text">{{review.car_year}}</p>
            <p class="card-text">{{review.review}}</p>
            
        </div>

    </div>
    {% endfor %}
    </body>

</html>